# Dependencies
node_modules/

# Build output
dist/

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
